.wrapper {
  padding: 0 2em;
  background: #000;

  .sitename {
    width: auto;

    h1 {
      font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
      font-size: 24px;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
  }

  .navItem {
    margin-right: 0.5em;

    a {
      color: #fff;
    }

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      cursor: pointer;
    }
  }

  .navigationWrapper {
    width: auto !important; // geist-ui why do you make me do this.
  }

  @media only screen and ( max-width: 530px ) {
    .sitename, .languageRow {
      display: none;
    }

    padding: 0;
    text-align: center;

    .navigationWrapper {
      width: 100% !important;
    }
  }
}
