@import './fonts';

$background-color: #202124;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // currently a very hacky workaround but it works so I don't care
  background: $background-color !important;
}

.editor {
  position: fixed !important;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
}

textarea.editor {
  box-sizing: border-box;
  border: 0;
  background: transparent;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px;
  line-height: 22px;
  font-family: "Fira Code", "Consolas", "Courier New", monospace;
  resize: none;

  @media only screen and ( max-width: 530px ) {
    top: 0;
    bottom: 65px;
  }
}
