// fira sans
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('./fonts/firasans/fira-sans-regular.woff2') format('woff2'),
       url('./fonts/firasans/fira-sans-regular.woff') format('woff'),
       url('./fonts/firasans/fira-sans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
       url('./fonts/firasans/fira-sans-600.woff2') format('woff2'),
       url('./fonts/firasans/fira-sans-600.woff') format('woff'),
       url('./fonts/firasans/fira-sans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
       url('./fonts/firasans/fira-sans-800.woff2') format('woff2'),
       url('./fonts/firasans/fira-sans-800.woff') format('woff'),
       url('./fonts/firasans/fira-sans-800.ttf') format('truetype');
}

// fira code
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Code Regular'), local('FiraCode-Regular'),
       url('./fonts/firacode/fira-code-regular.woff2') format('woff2'),
       url('./fonts/firacode/fira-code-regular.woff') format('woff'),
       url('./fonts/firacode/fira-code-regular.ttf') format('truetype');
}
